div{
 /* max-width: fit-content;
margin-inline: auto; */
margin:0;
text-align: center;
}

/* Button to activate the rules */
/* #rulesBtn{

} */

img{
    width:10%;
    height:10%;
}
body{
   background-color: 	#efdff9; 
}
#begin{
    background-color: #e7d0f5;
    border-radius: 8px;
    border-color: black;
  border-style: solid;
  /* border-width: thin; */
}

#round2{
    background-color: #dcc0ec ;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    border-width: thin medium;
}

#round3{
    background-color:#ccaedb ;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    border-width: thin medium;
}
#rules{
    font-size: 3rem;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}


h3{
    text-align: center;
}

h4{
    text-align: center;
}

